**/*.env
**/local_secrets.json
**/tempfiles/*
**/local.yaml
**/.terraform
**/deploy/**/terraform.tfvars
**/deploy/**/terraform.tfstate
**/deploy/**/terraform.tfstate.backup
**/deploy/**/.terraform.lock.hcl
**/terraform.tfstate
**/CREDENTIALS_FILE.json
