@page
@model IndexModel
@{
    ViewData["Title"] = "Dapr Tweet Viewer";
}
<div id="tweets"></div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/tweet.js"></script>