@page
@model IndexModel
@{
    ViewData["Title"] = "Dapr Tweet Viewer";
}
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/tweet.js"></script>